@import '~rc-switch/assets/index.css';

button.rc-switch {
  border-color: transparent;
  background-color: rgb(243 244 246 / 1);
  width: 50px;
  height: 26px;
  line-height: 24px;
}

button.rc-switch:after {
  width: 22px;
  height: 22px;
}

button.rc-switch-checked {
  border-color: transparent;
  background-color: rgb(59 130 246 / 0.9);
}

button.rc-switch-checked:after {
  left: 25px;
}

button.rc-switch:hover:after {
  transform: scale(1)!important;
}

button.rc-switch-disabled {
  opacity: 0.7;
}